
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Racing+Sans+One&family=Work+Sans:ital,wght@0,700;0,800;0,900;1,900&display=swap');

:root {
    --white: white;
    --yellow: #FE9900;
    --red: #FF1901;
    --blue-logo: #060E4F;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}


body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent; /* or add it to the track */
}

body::-webkit-scrollbar-thumb {
    background: #737373;
    border-radius: 2px;
}


/* NavBar - Barra de Navegação */

nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.navbar-brand, .nav-link {
    text-decoration: none;
}

.navbar-brand {
    padding: .2rem 1rem;
}

.signup {
    background-color: var(--yellow);
    border-radius: .5rem;
}

.navbar-nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url(/IMGs/logo.jpg);
    border-radius: 50%; /* Torna a logo redonda */
    background-size: cover;
    background-repeat: no-repeat;
}


/* Header - Cabeçalho */

.blue-section {
    background-color: var(--blue-logo); /* Cor de fundo azul */
    width: 100%;
    height: 100vh; /* Altura da seção azul */
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    margin-bottom: 2rem;
}

.gradient-circle {
    width: 45rem;
    height: 45rem;
    filter: blur(5rem);
    background: linear-gradient(var(--yellow), var(--red), var(--blue-logo)); /* Degradê laranja para azul */
    border-radius: 50%; /* Torna o círculo redondo */
    position: absolute;
    top: 75vh; /* Posiciona o círculo no meio da seção azul */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    width: 40rem;
    height: 40rem;  
    filter: blur(10rem);
    background: #1021A4;
    border-radius: 50%; /* Torna o círculo redondo */
    position: absolute;
    top: 10vh; /* Posiciona o círculo no meio da seção azul */
    left: 0;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.gradient-right {
    width: 40rem;
    height: 40rem;  
    filter: blur(10rem);
    background: #1021A4;
    border-radius: 50%; /* Torna o círculo redondo */
    position: absolute;
    top: 90vh; /* Posiciona o círculo no meio da seção azul */
    left: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.stroke-circle {
    width: 68rem;
    height: 68rem;
    border: 1.5rem rgba(0, 0, 255, 0.192) solid;
    border-radius: 50%; /* Torna o círculo redondo */
    position: absolute;
    top: 75vh; /* Posiciona o círculo no meio da seção azul */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25;
}


.circle-image {
    width: 90%; /* Tamanho da imagem 90% do círculo */
    height: auto;
    border-radius: 50%; /* Torna a imagem redonda */
}

.img-model {
    position: absolute;
    top: 55vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    height: 50rem;
}

/* About - Sobre */


.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10rem;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    margin: 8rem 0;
}

#unico {
    margin-right: 2rem;
}

.btn-about-container {
    display: flex;
    flex-direction: column;
}

.text, span, h1 {
    color: #060E4F;
}

.text {
    font-size: 1.2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

span {
    font-size: 2rem;
}

.img {
    padding: 8rem 10rem;
    background: #737373;
}

.misters {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.misters-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    padding: 10rem 8rem;
    margin: 2rem 1rem;
    background: #737373;
}

